@media screen and (max-width : 430px) {
  .hidden1 {
    display: none !important;
  }
  
}


body {
  background-color: #f1ebeb;
}
.App {
  text-align: center;
  position: relative;
  top: -220px;
  display: grid;
  width: 123%;
  font-size: 44px;
}
.edit {
  position: relative;
  padding: 14px;
  top: 13px;
  border-radius: 8px;
}
.App-header{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.mn-body {
  position: relative;
  top: -115px;

}
.sidebar {
  position: relative;
  top: 29px;
  left: 23px;
  height: 100%;
  width: 114px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 55px;
  margin-left: 60px;
}
.card{
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    top: -13rem;
    position: relative;
    text-align: left;
    margin-left: 10cm;
    margin-right: 19cm;
}

.header {
background-color: #ffffff;
height: 70px;
width: 150px;
border-radius: 15px;
margin-top: 1cm; 
margin-right: 13cm;
transition: transform 0.2s ease;
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
transition: transform 0.2s ease;
}
/* .edit{
  padding: 10px 400px 5px 0px;} */
button{
  background-color: bisque;
}  

.header:hover {
  /* transform: scale(1.2);*/
  cursor: pointer;
} 
.header h3{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.table{
  justify-content: center;
  position: relative;
}
  


.sidebar.open {
  transform: translateX(0);
}


.sidebar-menu {
  list-style: none;
  padding: 20px;
  width: 50px;
}

.sidebar-menu li {
  margin-bottom: 10px;
  cursor: pointer;
}

&:hover {
  background-color: #e0e0e0;
  border-radius: 8px;
}
.addcontent1:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 50px;

}
.adeducation:hover{
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 50px;

}
.adprofile:hover{
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 50px;

}
.adskill:hover{
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 50px;
}
.adproject:hover{
  transform: scale(1.2);
  cursor: pointer;
  border-radius: 50px;
}
.submit{
  /* position: fixed; */
background-color: #fdfdfd;
border-radius: 15px;
text-align: center;
top: -10rem;
position: relative;
/* text-align: left; */
margin-left: 10cm;
margin-right: 10cm;
margin-left: 10px;

}
.hidden {
  display: none !important;
}
.value{
  padding: 10px;
  background-color: white;
  position: fixed;
  border-radius: 15px;
  margin-left: 400px;
  top: 10rem;
}
.value:hover {
  cursor: pointer;
}
.button1:hover {
  cursor: pointer;
}
.button1{
background-color: red;
padding: 10px;
border-radius: 100px;
margin-right: 100px;
}
.addcontent{
  background-color: palevioletred;
  display: block ruby;
  border-radius: 25px;
  width: 50vh;
  position: relative;
  bottom: -40vh;
  left: 400px;
}
.addcontent1{
  background-color: white;
}
.addcontent1 button{
  background-color: rgb(163, 163, 163);
  border-radius: 20px;
  top: 100px;
  position: relative;
}

/* .view{
  display: none;
} */
